* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/Pictures/siomaipic.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    backdrop-filter: blur(5px);

}

/* Navigation bar */

.menu_bar {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #FCE604;
    height: 120px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
    z-index: 1;
  }
  
  .logo {
    cursor: pointer;
    margin-right: auto;
    background-color: #FCE604;
  }
  
  
  .menu_bar ul {
    display: flex;
    list-style: none;
  }
  
  .menu_bar ul li {
    padding: 10px 30px;
    position: relative;
    font-weight: bold;
  }
  
  .menu_bar ul li a {
    text-decoration: none;
    font-size: 17px;
    color: #135E3C;
  }
  
  .menu_bar ul li a:hover {
    transition: all 0.3s ease 0s;
    color: #AE1526;
  }
  
  .menu_bar button {
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
  }
  
  .dropdown_menu {
    visibility: hidden; 
    opacity: 0; 
    display: none;
    border-radius: 5px;
    transition: all 0.3s ease, visibility 0.3s ease;
    
  }
  
  .menu_bar ul li:hover .dropdown_menu {
    visibility: visible; 
    opacity: 1; 
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: white;
  }
  
  .dropdown_menu ul {
    display: block;
    list-style: none;
   
  }
  
  .dropdown_menu ul li{
    
    width: 150px;
    padding: 10px;
    text-align: center;
    font-weight: 100;
  }
  
  .dropdown_menu ul li a {
    text-decoration: none;
    font-size: 16px;
    color: #8d8d8d;
  }
  

  .topnav {
  position: fixed;
  z-index: 1;
  background-color: #FCE604;
  height: 120px;
  width: 100%;
  padding: 50px;
  } 
  
/* Forms */

.wrapper {
    width: 420px;
    background-color: white;
    border-radius: 20px;
    padding: 30px 40px;
}

.wrapper h1 {
    font-size: 30px;
    text-align: center;
    color: #AE1526;
}

.wrapper .input-box {
    width: 100%;
    height: 50px;
    position: relative;
    margin: 30px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 16px;
    color: black;
    padding: 20px 45px 20px 20px;
}


.input-box input::placeholder {
    color: gray;
    font-size: 14px;
    padding-left: 1px;
}

.input-box i {
    color: gray;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.wrapper .gender {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}

.gender label input {
    accent-color: #AE1526;
    margin-right: 3px;
    
}

.gender h2 {
    color: gray;
    font-weight: 600;
    font-size: 14.5px;
}

.gender label {
    color: #135E3C;
    font-weight: 600;
}


.wrapper .btn {
    width: 100%;
    height: 45px;
    background-color: #AE1526;
    border: none;
    color: white;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    transition: all 0.3s ease;
}

.wrapper .btn:hover {
    background-color: lightgray;
    border: solid 2px #AE1526;
    color: #AE1526;
}

.wrapper .register-link {
    color: #135E3C;
    font-size: 14p.5x;
    text-align: center;
    margin: 20px 0 15px;

}

.register-link p a {
    color: #135E3C;
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover {
    text-decoration: underline;
}

.locationoption input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 16px;
    color: black;
    padding: 12px 45px 12px 20px;
    margin-bottom: 20px;
}

.locationoption input::placeholder {
    color: gray;
    font-size: 14px;
    padding-left: 1px;
}

.locationoption i {
    color: gray;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    
}

