* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: Helvetica;
  
}


li, a, button {
  font-family: "Arial", sans-serif;
  font-weight: bold;
  font-size: 16px;
  color: #135E3C;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px 10%;
}

.logo {
  cursor: pointer;
  margin-right: auto;
  background-color: #FCE604;
}

.nav_links {
  list-style: none;
  background-color: #FCE604;
  
}

.nav_links li {
  display: inline-block;
  padding: 0px 20px;
  background-color: #FCE604;
}

.nav_links li a {
  transition: all 0.3s ease 0s;
  background-color: #FCE604;
  
  
}

.nav_links li a:hover {
  transition: all 0.3s ease 0s;
  color: #AE1526;
}

button {
  margin-left: 20px;
  padding: 9px 25px;
  background-color: #AE1526;
  color: white;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  

}

.cta {
  background-color: #FCE604;
  
}

button:hover {
  background-color: #135E3C;
}

.topnav {
 background-color: #FCE604;
height: 120px;
 width: auto;
 padding: 50px;
} 


/* Cover photo and Heading text*/
.container {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  height: 50vh;
  color: #135E3C;
  flex-wrap: wrap;
}

#box1 h1 {
  font-weight: bolder;
}

#box1 h2.lighter {
  font-weight: 100;
}

.box {
  font-size: 8em;
  text-align: center;
  border-radius: 15px;
}

#box1 {
  text-align: left;
  width: 500px;
  height: auto;
}


#box1 h1 {
  font-size: 50px;
  
}

#box1 h2 {
  font-size: 23px;

}

#box2 {
  width: auto;
}

#headerphoto {
  height: 400px;
  background-color: #FCE604;
  border-radius: 10px;
}

.order_button1 {
  padding: 9px 25px;
  background-color: #AE1526;
  color: white;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;

}

.order_button1:hover {
  background-color: white;
  color: #AE1526;
  border: solid #AE1526;

}

/*separator*/
.separator {
  width: 77%;
  border-top-width: 3px;
  border-radius: 50px;
  border-top: 3px solid #D9D9D9;
  margin: 40px auto;
}

.navigation {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 10vh;
  flex-wrap: wrap;
}

.navigation h1{
  color: #A6A6A6;
  font-size: 23px
}

.nav_food {
  background-color: white;
  color: #A6A6A6;
  font-size: 23px;
}

.nav_food:hover {
  background-color: white;
  color: #AE1526;
}

.rice_meals {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 100px;
  align-items: center;
}

.food_image {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 8em;
  width: 300px;
  height: 300px;
  text-align: center;
  border-radius: 30px;
}

.food_image:hover {
  transform: scale(1.1);
  transition: all 0.3s ease 0s;
}

#f1 {
  background-color: lightgrey;
}

#f2 {
  background-color: #fc5304;
}

#f3 {
  background-color: #04fc80;
}

#f4 {
  background-color: #04fcf0;
}

#f5 {
  background-color: #f004fc;
}

#f6 {
  background-color: #fc04f0;
}

.foodoption {
  display: flex;
  justify-content: center;
  border-radius: 20px;
  margin-bottom: 6px;
  height: 150px;
  width: 150px;
  object-fit: cover;
  
}

.orderfood {
  height: 30px;
  text-align: center;
  display: flex;
  flex-direction: row-reverse;
  font-size: 12px;
  margin-left: 50px;
}

.nested_foodoption {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: lightgrey;
}

h1.food_description {
  color:#135E3C;
  font-size: 18px;
  background-color: lightgrey;
}